html {
   background-color: #5C97BF;
   font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 100%;
}
.container {
    display: grid;
    max-width: auto;
    grid-template-areas: "head head"
                         "side-nav intro"
                         "side-nav body"
                         "side-nav experience";
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr 4fr;
    padding: 20px;
    gap: .7em;
}
.head {
    grid-area: head;
    font-size: 35px;
    display: grid;
    justify-content: center;
    height: fit-content;
}
.side-nav {
    grid-area: side-nav;
    padding-top: 75px;
    line-height: 2.5;
    font-size: 1.2em;
    font-style: italic;
}
.body {
    grid-area: body;
    
    line-height: 1.3;
}
.exp {
    grid-area: experience;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: start;
}
.intro {
    grid-area: intro;
    line-height: 1.3;
}

/* media query for mobile screens */
@media only screen and (max-width: 450px) {
    .container {
    display: grid;
    max-width: auto;
    grid-template-areas: "head"
                         "side-nav"
                         "intro"
                         "body"
                         "experience";
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr;
    padding: 10px;
}
.head {
    grid-area: head;
    font-size: 1.5em;
}
.side-nav {
    grid-area: side-nav;
    padding-top: 0em;
}
.side-nav li {
    display: inline;
    padding: 4px;
    font-size: .8em;
}

}
.exp img {
    max-height: 1em;
}
.contact {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}
.contact img {
    max-height: 10em;
}
.side-nav a:hover {
    color:blue;
    text-decoration: underline;
}
.side-nav a {
    color: black;
    text-decoration: none;
}